@import url('https://fonts.googleapis.com/css?family=Merriweather');
body {
    background-color: white;
}
.bg-pink {
    background-color: #dc2771;
}
#important-headline {
    font-family: 'Merriweather', serif;
}
#header {
    height: 700px; /*change to 75%*/
    color: white;
}
#headline {
    position: relative;
    top: 40%;
}
#about-us {
    padding-top: 100px;
    padding-bottom: 100px;
}
#caption {
    margin-top: 50px;
    margin-bottom: 50px;
}
#caption-sm {
    margin-top: 25px;
}
.header {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.number {
    color: #dc2771;
}
@media screen and (max-width: 992px) {
    #map {
        height: 400px;
    }
}
::selection {
    color: white; 
    background: #dc2771;
}